# Prerequisites
*.d
/cw
cw/
/.vscode
*/.vscode
*/.editorconfig
.editorconfig

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
engine/.editorconfig
source/.editorconfig
build/E.bin
build/J.bin
build/K.bin
build/P.bin
TestPack/mkwdx/sys/E.bin
TestPack/mkwdx/sys/J.bin
TestPack/mkwdx/sys/K.bin
TestPack/mkwdx/sys/P.bin
*.bin
