# Prerequisites
/cw
cw/
/.vscode
*/.vscode
*/.editorconfig
.editorconfig

# Compiled Object files
*.slo
*.lo
*.o
*.obj
build/*.bin
/build/*.bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
engine/.editorconfig
source/.editorconfig
build/P.bin
*.brstm
out/E.bin
out/J.bin
out/K.bin
out/P.bin
TestPack/*
TestPack
*.code-workspace
code/Ghost/AntiCheat.cpp
code/Ghost/AntiCheat.hpp
code/System/Security.hpp
code/System/Security.cpp
out/Code.arc
.clangd
compile_flags.txt
out/Code.cscd
loader/security.cpp
loader/security.hpp
mwcceppc.exe
lmgr8c.dll
license.dat
/extra/files/UICosmos.d/button/timg
code/Aurora/AuroraKeys.hpp
